<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= article_path(article) %>"> <!-- once we change our get paths to resources this way <a href="/articles/<%= article.id %>">  is no longer valid-->
        <%= article.title %>
     </a>
    </li>
    <% end %>
</ul>